<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dr.jitesh kadam">
    <meta name="keywords" content="">
    <title>Sonhira Youth congress</title>
    <!-- Site favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/logo.ioc' />
    <!-- /site favicon -->
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}"    rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/entypo.css' %}"           rel="stylesheet" />
    <link href="{% static 'css/mouldifi-core.css' %}"    rel="stylesheet" />
    <link href="{% static 'css/mouldifi-forms.css' %}"   rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="login-page">
    <div class="login-container">
    	<div class="login-branding">
    		<a href=""><img src="/static/images/j27.jpg" alt="DR. Jitesh Kadam Yuvashakti" title="DR. Jitesh Kadam Yuvashakti"></a>
    	</div>
    	<div class="login-content">
                <a href="/yuvashakti/"> <h2 style='text-align: center;' ><strong></i>~:   डॉ .जितेश (भैय्या) कदम   :~</strong></h2></a>
                <a href="/birthdaywish/"><button style="width : 100%" class="btn btn-primary btn-rounded" type="button"></i> वाढदिवसाच्या शुभेच्छा </button></a>
    	</div>
    </div>

    <!-- Footer -->
    <footer class="footer-main">
      &copy; 2017 <strong>Prafull Kadam</br>prafullkadam01@gmail.com</strong></br><a target="_blank" href="#/">8087079007</a>
    </footer>
    <!-- /footer -->
<!--Load JQuery-->
    <script src="{% static 'js/jquery.min.js' %}"      ></script>
    <script src="{% static 'js/bootstrap.min.js' %}"   ></script>
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"       ></script>

</body>
</html>
